<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trying to create a fake iTunes</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>

<h1> This is the greatest fake iTunes</h1>

<div class="contain inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h3 class="display-3"> 5 artists</h3>
        <div th:each="artist:${artists}" class="col">
            <h5 th:text="${artist.getName()}"></h5>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h3 class="display-3"> 5 tracks</h3>
        <div th:each="track:${tracks}" class="col">
            <h5 th:text="${track.getName()}"></h5>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h3 class="display-3"> 5 genres</h3>
        <div th:each="genre:${genres}" class="col">
            <h5 th:text="${genre.getName()}"></h5>
        </div>
    </div>



</div>


<button type="button" th:onclick="showAlert()">Like Button</button>
</body>
</html>